<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
  <div class="container">
    <a class="navbar-brand" href="/"> P R O F I @ R E N A </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-5">
        <!-- Home Link -->
        <li class="nav-item">
          <a class="nav-link <%= currentPath === '/' ? 'active text-decoration-underline' : '' %>" href="/">Home</a>
        </li>

        <% if (loggedIn) { %>
        <!-- Profile Link -->
        <li class="nav-item">
          <a class="nav-link <%= currentPath === '/profile' ? 'active text-decoration-underline' : '' %>" href="/profile">Profile</a>
        </li>
        <% } %>

        <% if (loggedIn && currentUser.role_id == 0) { %>
        <!-- Talents Link (for HR role) -->
        <li class="nav-item">
          <a class="nav-link <%= currentPath === '/talents' ? 'active text-decoration-underline' : '' %>" href="/talents">Talents</a>
        </li>
        <% } %>

      </ul>

      <!-- Login/Logout section -->
      <div class="ms-auto">
        <ul class="navbar-nav">
          <% if (loggedIn) { %>
          <li class="nav-item">
            <a class="btn btn-light m-1" href="/logout">LOG OUT </a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="btn btn-light m-1" href="/register">REGISTER </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-light m-1" href="/login">LOGIN </a>
          </li>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</nav>
