<style>
  .error-container {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>
<div class="error-container">
  <h1>Error <%= errorCode %></h1>
  <p>Oops! Something went wrong. Please try again later.</p>
  <a href="/" class="btn text-muted mt-3">Return to Home</a>
</div>
