<div class="container" style="width: 400px">
    <form action="login" class="form text-center" method="POST">
        <input type="email" name="email" id="inputEmail" placeholder="Email address" class="form-control m-2" autofocus required>
        <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control m-2" required>
        <button type="submit" class="btn btn-light m-4">Log In</button>
        </form>
  </div>
  