<style>
  .thanks-container {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
</style>

<div class="thanks-container">
  <h1 class="h4 mb-3">SENT!</h1>
  <p>You've successfully applied for the job.</p>
  <a href="/" class="btn text-muted mt-3">- Go back to -</a>
</div>