html,
body {
    height: 100%;
    margin: 0;
    background-color: gainsboro;
}

h2 {
    margin-bottom: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.container {
    flex: 1;
    
}

.flashes {
    margin: 20px 0;
}

.flash {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.table td a {
    margin-right: 10px;
    
}

#calendar {
    max-width: 90vw;
    
    margin: 0 auto;
    
    padding: 20px;
    
    background-color: #fff;
    
    border: 1px solid #ddd;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}


.interview-status-1 {
    background-color: yellow !important;
    color: black !important;
    
}

.interview-status-2 {
    background-color: green !important;
    color: white !important;
}

.interview-status-3 {
    background-color: red !important;
    color: white !important;
}

.interview-status-4 {
    background-color: blue !important;
    color: white !important;
}


.interview-status-default {
    background-color: gray !important;
    color: white !important;
}