html, body {
    height: 100%;
    margin: 0;
    background-color: gainsboro;
}

h2 {
    margin-bottom: 2rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full height of the viewport */
}

.container {
    flex: 1; /* This makes the container fill the available space */
}

.flashes {
    margin: 20px 0;
}

.flash {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.table td a {
    margin-right: 10px; /* Space between the link and the delete button */
  }
  