<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Message</title>
</head>
<body>
    <h1>Welcome to PROFI@RENA, <%= userName %>!</h1>
    <p>We're super excited to have you onboard! 🚀</p>
    <br>
    <p>The PROFI@RENA Team</p>
    
</body>
</html>