<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Viewed</title>
</head>
<body>
  <p>Your application for the <strong><%= job_title %></strong> position at <strong><%= job_company %></strong> has been <strong>viewed</strong></p>
  <p>We will contact you regarding additional updates.</p>
  <p><%= job_company %></p>
</body>
</html>
