<div class="container" style="width: 400px">
  <form action="/users/create" class="form text-center" method="POST">
    <input
      type="text"
      name="firstName"
      id="inputFirstName"
      placeholder="First name"
      class="form-control m-2"
      autofocus
    />
    <input
      type="text"
      name="lastName"
      id="inputLastName"
      placeholder="Last name"
      class="form-control m-2"
    />
    <input
      type="password"
      name="password"
      id="inputPassword"
      placeholder="Password"
      class="form-control m-2"
      required
    />
    <input
      type="email"
      name="email"
      id="inputEmail"
      placeholder="Email address"
      class="form-control m-2"
      required
    />
    <input
      type="text"
      name="zipCode"
      id="inputZipCode"
      pattern="\d*"
      placeholder="Zip Code"
      class="form-control m-2"
      required
    />
    <button type="submit" class="btn btn-outline-dark m-4">Register</button>
  </form>
</div>
