<div id="calendar"></div>

<%- include('../partials/addInterviewModal') %>
<%- include('../partials/editInterviewModal') %>

<script>
  let calendar;

  document.addEventListener('DOMContentLoaded', function() {

    const calendarEl = document.getElementById('calendar');
    const events = JSON.parse('<%- events %>');

    calendar = new FullCalendar.Calendar(calendarEl, {

      initialView: 'dayGridMonth',

      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay',
      },

      events: events,

      // Day click handler
      dateClick: function(info) {
        const clickedDate = info.dateStr; // date in YYYY-MM-DD format
        openAddInterviewModal(clickedDate);
      },

      // Event click handler for editing
      eventClick: function(info) {
        const interview = info.event;
        if (!interview.id) {
          console.error('Event ID is missing!');
          return;
        }
        openEditInterviewModal(interview);
      },
    });

    function openAddInterviewModal(clickedDate) {
      const modal = document.getElementById("addInterviewModal");
      const proposedTimeInput = document.getElementById("proposed_time");
      proposedTimeInput.value = clickedDate + "T09:00"; // Set a default time (e.g., 9:00 AM)
      $(modal).modal('show');
    }

    function openEditInterviewModal(event) {
      const modal = document.getElementById("editInterviewModal");

      // Set interview ID
      document.getElementById("id").value = event.id;
      // Set current proposed time (readonly)
      document.getElementById("current_proposed_time").value = event.extendedProps.current_proposed_time;
      // Set proposed time
      document.getElementById("proposed_time").value = event.start.toISOString().slice(0, 16);

      // Configure the "Finished" checkbox
      const finishedCheckbox = document.getElementById("interview_status_id");
      finishedCheckbox.checked = event.extendedProps.interview_status_id == 4; // Check if "Finished"
      finishedCheckbox.dataset.currentStatusId = event.extendedProps.interview_status_id; // Store the current status ID

      // Set review and proposed time
      document.getElementById("review").value = event.extendedProps.review || '';
      document.getElementById("proposed_time").value = event.start.toISOString().slice(0, 16);
      document.getElementById("talent_name").textContent = `${event.title.split(" - ")[0]}`; // Use title to extract talent name

      $(modal).modal('show');
    }


    calendar.render();
  });
</script>