<h2>Talents</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% talents.forEach(talent => { %>
    <tr>
      <td><a href="<%= `/${talent.id}` %>"><%= talent.first_name %> <%= talent.last_name %></a></td>
      <td><%= talent.email %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
